/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 19px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
  

/* .bottomPanel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 2%;
    top: 88%;
    background-color: #a7deee;
    display: flex;
    align-items: center;
    justify-content: center;
}
 */
 
 .buttons {
   background-color: #008CBA;
   border: none;
   color: white;
   border-radius: 15px;
   padding: 10px 25px; 
   text-align: center;
   text-decoration: none;
   display: flex;
   font-size: 11px;
   margin: 4px 2px;
   cursor: pointer;
   box-shadow: 0 3px #999;
  }
  
.buttons:hover {
  background-color: white;
  color: #008CBA;
  border: 1.5px solid #2747AA;
}

.buttons:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.categoryBtn {
  /* background-color: rgb(29, 187, 205);  (30,175,192) */
  border-radius: 100px;
  border: none;
  width: 150px;
  height: 25px;
}

.content-block {
  text-align: center;
  margin: 0 auto;
  max-width: 420;
}

#titleImage {
  height: 120px;
  margin-top: 20px;
}

#backButton {
    height: 30px;
    margin: 15px 5px 4px 10px;
    max-height: 30px;
    
}

#title {
  font-size: 30px;
}

#text {
  font-size: 15px;
}

#answers {
  
}

.mainDiv {
  /* height: 150px;  If 3 or more cols so must be off */
    /* margin-top: 40px; */
    padding-top: 10px;
    padding-bottom: 23px;
    max-width: 315px;
    margin: 0 auto;
}

.icon_paragraph {
    /* max-width: 50px; */
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media screen and (max-width: 333px){
    .left {
        float: none;
        height: auto;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .right {
        float: none;
        height: auto;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .mainDiv {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

#wrapper {
  width: 600px;
  margin: 50px auto;
}

body {
  font-family: Arial;
  background: #fff;
}

.chat ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.message-left .message-time {
  display: block;
  font-size: 12px;
  text-align: left;
  padding-left: 30px;
  padding-top: 4px;
  color: #ccc;
  font-family: Courier;
}

.message-right .message-time {
  display: block;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  padding-top: 4px;
  color: #ccc;
  font-family: Courier;
}

.message-left {
  text-align: left;
  margin-bottom: 16px;
}

.message-left .message-text {
  max-width: 80%;
  display: inline-block;
  background: #fff;
  padding: 15px;
  font-size: 14px;
  color: #999;
  border-radius: 30px;
  font-weight: 100;
  line-height: 1.5em;
}

.message-right {
  text-align: right;
  margin-bottom: 16px;
}

.message-right .message-text {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 15px;
  font-size: 14px;
  color: #fff;
  border-radius: 30px;
  line-height: 1.5em;
  font-weight: 100;
  text-align: left;
}

.chat {
  border-radius: 30px;
  padding: 20px;
  /* width: 500px; */
  margin: 0 auto;
  background: #f5f7fa;
  max-width: 420px;  
  overflow-y: scroll;
  height: 250px;
  
}

.chat-container {
  height: 400px;
  /* overflow-y: scroll; */
  padding-right: 16px;
  
}

.spinme-right {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2;
}

.spinme-left {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  color: #ccc;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2;
}

.spinner {
  margin: 0;
  width: 40px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: rgba(0,0,0,1);
}
 
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

img.chatIcon {
    width: 50px;
    height: 50px;
}

span.spinme-left {
  float:left;
}

.navbar-inner {
  background:rgb(26, 165,182);
}

i.icon.icon-contact-us {
  width: 25px;
  height: 30px;
  background-image: url("../assets/Messages.png");
}