/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
/* Fonts Diclaration From Here */
/* Title */
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../Fonts/OpenSans-Regular.ttf");
}
/* Question & Answers */
@font-face {
  font-family: "almoni-dl-aaa-regular";
  src: url("../Fonts/almoni-dl-aaa-bold.otf");
}
/* Yes No Answers */
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../Fonts/OpenSans-Bold.ttf");
}

/* Sets the body max width */
body {
  max-width: 420px;
  margin:0 auto;
}

/* Add background image. */
div.chat {
  background: url("../assets/Background.png") no-repeat center center fixed; 
  -webkit-background-size: 350px;
  -moz-background-size: 350px;
  -o-background-size: 350px;
  background-size: 350px;
}

/* .statusbar-overlay {
  background: #000000;
} */

.fa {
  padding: 15px;
  font-size: 20px;
  width: 19px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

#contents {
margin: 0 auto;
text-align: center;
max-width: 290px;
line-height: 25px;
color: #000000b8;
padding-top: 5px;
}

.page {
  background: #fbfbfb;
}

/* .bottomPanel{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 2%;
  top: 88%;
  background-color: #a7deee;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.buttons {
 background-color: #008CBA;
 border: none;
 color: white;
 border-radius: 15px;
 padding: 10px 25px; 
 text-align: center;
 text-decoration: none;
 display: flex;
 font-size: 11px;
 margin: 4px 2px;
 cursor: pointer;
 box-shadow: 0 3px #999;
}

.buttons:hover {
background-color: white;
color: #008CBA;
border: 1.5px solid #2747AA;
}

.buttons:active {
box-shadow: 0 1px #666;
transform: translateY(2px);
}

.categoryBtn {
/* background-color: rgb(29, 187, 205);  (30,175,192) */
border-radius: 10px;
border: none;
width: 45%;
height: 25px;
margin-right: 6px;
margin-left: 6px;
margin-bottom: 5px;
}

.yesNoBtn {
  border-radius: 10px;
  border: none;
  width: 60px;
  height: 25px;
  margin-right: 6px;
  margin-bottom: 5px;
  color: white;
  font-size: 17px;
  margin-top: 5px;
}

.content-block {
/* text-align: center; */
margin: 0 auto;
max-width: 420;
}

#titleImage {
margin: 0 auto;
height: 120px;
margin-top: 50px;
}

#backButton {
  height: 30px;
  margin: 15px 5px 4px 10px;
  max-height: 30px;
  display: none;
}

#title {
  font-family: "OpenSans-Regular";
  color: #000000b8;
  display: block;
  line-height: 35px;
  font-size: 30px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#text {
font-size: 15px;
}

#topLine {
  height: 1px;
  width: 85%;
  background-color: rgb(184, 180, 180);
  display: block;
  margin-bottom: 0px;
  margin-top: 3px;
}

.mainDiv {
/* height: 150px;  If 3 or more cols so must be off */
  /* margin-top: 40px; */
  max-height: 20vh;
  font-family: OpenSans-Regular;
  padding-top: 5px;
  /* padding-bottom: 5px; */
  /* max-width: 315px; */
  margin: 0 auto;
  overflow-y: scroll;
}

.icon_paragraph {
  /* max-width: 50px; */
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media screen and (max-height: 590px) {
  img#titleImage {
    display: none;
  }

  div.chat {
    background: url("../assets/Background.png") no-repeat center center fixed; 
    -webkit-background-size: 60%;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    background-size: 60%;
  }
}

@media screen and (max-width: 360px) {
  div.chat {
    background: url("../assets/Background.png") no-repeat center center fixed; 
    -webkit-background-size: 250px;
    -moz-background-size: 250px;
    -o-background-size: 250px;
    background-size: 250px;
  }

}

  /* div#answers {
    position: absolute;
    left: 22px !important;
    right: 22px !important;
    bottom: 10px;
  } */

  img#titleImage {
    margin-top: 10px;      
  } 

  /* .left {
      float: none;
      height: auto;
      margin-top: 7px;
      margin-bottom: 7px;
  }

  .right {
      float: none;
      height: auto;
      margin-top: 7px;
      margin-bottom: 7px;
  }

  .mainDiv {
      height: auto;
      padding-top: 0px;
      padding-bottom: 0px;
  } */


#wrapper {
width: 600px;
margin: 50px auto;
}

body {
font-family: Arial;
background: #fff;
}

.chat ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.message-left .message-time {
display: block;
font-size: 12px;
text-align: left;
padding-left: 30px;
padding-top: 4px;
color: #ccc;
font-family: Courier;
}

.message-right .message-time {
display: block;
font-size: 12px;
text-align: right;
padding-right: 20px;
padding-top: 4px;
color: #ccc;
font-family: Courier;
}

.message-left {
text-align: left;
margin-bottom: 16px;
}

.message-left .message-text {
max-width: 80%;
display: inline-block;
background: rgb(236, 236, 236);
color: black;
padding: 15px;
font-size: 14px;
border-radius: 15px;
font-weight: 100;
line-height: 1.5em;
border: gray solid 1.5px;
}

.message-right {
text-align: right;
margin-bottom: 16px;
}

.message-right .message-text {
line-height: 1.5em;
display: inline-block;
background: rgb(26, 165,182);
padding: 15px;
font-size: 14px;
color: #fff;
border-radius: 15px;
line-height: 1.5em;
font-weight: 100;
text-align: left;
border: rgb(23, 144,159) solid 1.5px;
}

.chat {
/* border-radius: 30px; */
padding: 20px;
/* width: 500px; */
/* margin: 0 auto; */
background: #fbfdfd;
/* max-width: 420px;   */
overflow-y: scroll;
/* height: 60vh; */
}

.chat-container {
height: 400px;
/* overflow-y: scroll; */
padding-right: 16px;

}

.spinme-right {
display: inline-block;
padding: 15px 20px;
font-size: 14px;
border-radius: 30px;
line-height: 1.25em;
font-weight: 100;
opacity: 0.2;
}

.spinme-left {
display: inline-block;
padding: 15px 20px;
font-size: 14px;
color: #ccc;
border-radius: 30px;
line-height: 1.25em;
font-weight: 100;
opacity: 0.2;
}

.spinner {
margin: 0;
width: 40px;
text-align: center;
}

.spinner > div {
width: 10px;
height: 10px;
border-radius: 100%;
display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
animation: sk-bouncedelay 1.4s infinite ease-in-out both;
background: rgba(0,0,0,1);
}

.spinner .bounce1 {
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}

.spinner .bounce2 {
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
0%,
80%,
100% {
  -webkit-transform: scale(0)
}
40% {
  -webkit-transform: scale(1.0)
}
}

@keyframes sk-bouncedelay {
0%,
80%,
100% {
  -webkit-transform: scale(0);
  transform: scale(0);
}
40% {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}
}

img.chatIcon {
  width: 50px;
  height: 50px;
}

span.spinme-left {
float:left;
}

.navbar-inner {
background:rgb(23, 144,159);
}

i.icon.icon-contact-us {
width: 25px;
height: 30px;
background-image: url("../assets/Messages.png");
}

i.icon.icon-home {
  width: 25px;
  height: 30px;
  background-image: url("../assets/Consultant.png");
  }
  .grayscale { filter: grayscale(100%); }

img#breakline {
width: 90%; 
max-height: 6px;
}

div#answers {
position: absolute;
left: 0;
right: 0;
bottom: 10px;
}

img#backBtn {
  width: 16px;
  padding-top: 6px;
  float: left;
}

div.flex {
  margin-top: 20px;
}

.message-left:before{
    border-radius: 20px / 10px;
    content: '';
    position: relative;
}

.message-left:before {
	border: 10px solid transparent;
	border-bottom-color: rgb(128, 128, 128);
	bottom: -40px;
	left: -10px;
	z-index: -2;
}
.message-left:after {
  border-radius: 20px / 10px;  
  content: '';
  position: relative;
}

.message-left:after {  
	border: 8px solid transparent;
  border-bottom-color: #ececec;
	bottom: 55px; 
	left: -6px;
	z-index: 0;
}


.message-right:before{
  border-radius: 20px / 10px;
  content: '';
  position: relative;
}

.message-right:before {
border: 10px solid transparent;
border-bottom-color: rgb(23, 144,159);
bottom: -40px;
left: 10px;
z-index: -2;
}

.message-right:after {
border: 8px solid transparent;
border-bottom-color: rgb(23, 144,159);
bottom: 1px;
}

#helpfulText {
  font-size: 23px;
  text-align: initial;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: 5%; */
  color: #000000b8;
}

#helpfulMainDiv {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px;
}

.age {
    width: 13%;
}
/*---------------------------------------------------------------------------------*/
/* From here its contact us styling */
/* TAASE KOVEZ NOSAF LE STYLE SHEL CONTACT US SHLOHA!!!! FUCK YOU SHLOHA */

.frame {
  border-radius: 10px;
  padding: 5px;
  border-width: thin;
  text-align: left;
  margin-top: 7px;
}

.longer-text {
  width: 67%;
}

.smaller-text {
  width: 40%;
}

#send-button {
  width: 25%;
  display: unset;
  padding: 2%;
  border-radius: 10px;
}

.link {
  display: inline-block;
  /* padding:15px; */
}

i.icon.icon-website {
  width: 14px;
  height: 30px;
  background-image: url("../assets/website-link.png");
}

i + a{
  text-decoration: underline;
  font-weight: bold;
}

/* .message-right:before{
  content: "";            
  width: 0;
  height: 0;
  position: relative;
  bottom: -22px;
  right: 2px;
  border-top: 15px solid transparent;
  border-right: 15px solid rgb(26, 165,182);
  border-bottom: 15px solid transparent;
}   */
